@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.Home-Wrapper {
  position: absolute;
  left: 150px;
  top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.home-welcome-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #ffffff;
}

.home-welcome-sub-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5a5d6f;
}

.home-search-box {
  margin-top: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding: 8px;
  background: #3c3f54;
  border-radius: 10px;
  width: 325px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-transform: capitalize;
  color: #dbd3d3;
}

.home-search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lottie-animation-wrapper {
  position: absolute;
  top: 2%;
  right: 10%;
}

.home-search-box:focus {
  outline: none;
}

.home-search-icon {
  margin-left: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  background: #3c3f54;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.home-search-icon-wrapper {
  transition: all 1s ease-in-out;
}
.home-search-icon-wrapper :hover {
  transform: scale(1.1);
}

.home-movies-category-title {
  margin-top: 50px;
  margin-left: 25px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.home-movies-category-wrapper {
  position: absolute;
  left: 1%;
  margin-top: -1%;
}

.home-divider {
  width: 125px;
  height: 1px;
  background-color: #3e4156;
  border: 1px solid #3e4156;
  transform: rotate(0.48deg);
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 15px;
}

.list-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 5px;
  font-size: 18px;
  color: #5a5d6f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-text:hover {
  color: #c9b3df;
}

.selected-genre {
  color: white;
}
