.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 550ms;
}
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}

.posters {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.home-hint-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #5a5d6f;
  text-align: center;
}
